 /*
	
	NebiStylestrip CSS
	Â© 2022-2023 NebiSoft. Some Rights Reserved.

*/

@import url("../assets/Common/Fonts/Manrope/ttf.css");

.colorbox {
	width: 100%;
	padding: 8px;
	border: 2px solid currentColor;
	margin: 10px;
	border-radius: 16px;
}

:root {
	
	/* Fonts */

	--ns-default-font:		"Manrope", sans-serif;
	
	/* Standard Colors */

	--ns-color-red-normal:		#ff5f5f;
	--ns-color-red-dark:		#ff5f5f;
	--ns-color-red-light:		#ff5f5f;

	--ns-color-orange-normal:	#fc9254;
	--ns-color-orange-dark:		#fc9254;
	--ns-color-orange-light:	#fc9254;
	
	--ns-color-yellow-normal:	#f8c448;
	--ns-color-yellow-dark:		#f8c448;
	--ns-color-yellow-light:	#f8c448;

	--ns-color-blue-normal:		#6bcdce;
	--ns-color-blue-dark:		#6bcdce;
	--ns-color-blue-light:		#6bcdce;

	--ns-color-green-normal:	#5ce0b6;
	--ns-color-green-dark:		#5ce0b6;
	--ns-color-green-light:		#5ce0b6;
	
	--ns-color-purple-normal:	#bd78ac;
	--ns-color-purple-dark:		#bd78ac;
	--ns-color-purple-light:	#bd78ac;

	--ns-color-black-normal:	#353535;
	--ns-color-black-dark:		#000000;
	--ns-color-black-light:		#535353;

	--ns-color-gray-normal:		#c5c5c5;
	--ns-color-gray-dark:		#b5b5b5;
	--ns-color-gray-light:		#e5e5e5;
	
	--ns-color-white-normal:	#f5f5f5;
	--ns-color-white-dark:		#e5e5e5;
	--ns-color-white-light:		#ffffff;

	/* Pro Colors */

	--ns-procolor-red-normal:	#903D54;
	--ns-procolor-purple-dark:	#6c2e7f;
	--ns-procolor-blue-light:	#3A18BB;

	/* Content Margins */

	--ns-site-margin-desktop: 930px;
	--ns-site-margin-mobile: 24px;
}

a {
	color: var(--ns-color-blue-normal);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.flex-container {
	display: flex;
	width: 100%;
}

.card {
	border-radius: 12px;
	padding: 12px;
	background: var(--ns-color-white-normal);
	margin: 10px;
}

.content-full-bg {
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-2d-paralax {
	background-attachment: fixed;
}

.three-d-paralax-body {
  height: 75%;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.three-d-paralax-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.three-d-paralax-background {
  transform: translateZ(-10px) scale(2);
}

.three-d-paralax-foreground {
  transform: translateZ(-5px) scale(1.5);
}

.three-d-paralax-background,
.three-d-paralax-foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.all-content > .content::first-of-type {
	padding: 48px;
	padding-top: 100px;
}

.all-content .content {
	padding: 48px;
}

.notice {
	font-style: italic;
	color: var(--ns-color-gray-dark);
}

.button-primary {
	border-radius: 8px;
	text-decoration: none;
	font-weight: 700;
	padding: 4px 16px;
}

.button-normal {
	border-radius: 8px;
	text-decoration: none;
	background: var(--ns-color-white-light);
	color: var(--ns-color-black-light);
	border: 1px solid var(--ns-color-gray-normal);
	padding: 4px 16px;
	transition: all 250ms;
}

.button-normal:hover {
	border: 1px solid var(--ns-color-gray-normal);
	color: var(--ns-color-gray-dark);
}

.button-primary.button-accent {
	background: var(--ns-color-red-normal);
	color: var(--ns-color-white-normal);
}

.all-content {
	top: 0;
}

.subtext {
	color: var(--ns-color-black-dark);
	font-size: 12px;
	margin-right: 6px;
}

ul, ol {
	padding-left: 20px;
}

h1 {
	font-weight: 900;
}

footer {
	bottom: 0;
	padding: 24px;
	background: var(--ns-color-white-light);
}

footer ul {
	margin-top: 8px;
	margin-bottom: 8px;
}

footer h2 {
	margin: 0;
	font-weight: 900;
}

footer a {
	color: var(--ns-color-black-normal);
	text-decoration: none;
}

footer .corporation-links * {
	color: var(--ns-color-black-light);
	font-size: 12px;
	margin-right: 6px;
}


footer a:hover {
	text-decoration: underline;
}

footer .copyright {
	color: var(--ns-color-gray-dark);
	font-size: 10px;
}

footer div.flex-container div {
	margin-left: 6px;
	margin-right: 6px;
	width: 100%;
	display: block;
}

footer div.flex-container div:first-of-type {
	margin-left: 0px;
}

footer div.flex-container div:last-of-type {
	margin-right: 0px;
}

footer div.flex-container div ul {
	padding: 0;
}

* {
	font-family: var(--ns-default-font);
}

body {
	margin: 0px;
	background: white;
	/* background: url(file:///System/Wallpapers/Image/Ant%202%20by%20Pok%20Rie.jpeg);background-size: cover; */
}

.header {
	color: var(--ns-color-black-normal);
	fill: var(--ns-color-black-normal);
	padding: 8px;
	position: fixed;
	top: 0;
	width: calc(100% - 24px * 2);
	padding: 24px;
	z-index: 98;
}

.header div {
	background-color: rgb(255, 255, 255, 0.5);
	vertical-align: middle;
	padding: 8px;
	padding-top: 9px;
	display: flex;
	backdrop-filter: blur(15px);
	border-radius: 12px;
	box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.5);
}

input {
	padding: 4px 8px;
	border-radius: 8px;
	border: 1px solid var(--ns-color-gray-normal);
	box-shadow: none;
	outline: none;
	transition-duration: 250ms;
}

input:focus {
	border: 1px solid var(--ns-color-red-normal);
	border-radius: 8px;
	box-shadow: 0 0 6px -2px var(--ns-color-red-normal), 0 0 0px 4px rgba(255, 255, 255, 0.25);
}

select {
	padding: 4px 8px;
	border-radius: 8px;
	border: 1px solid var(--ns-color-gray-normal);
	box-shadow: none;
	outline: none;
	transition-duration: 250ms;
}

select:focus {
	border: 1px solid var(--ns-color-red-normal);
	border-radius: 8px;
	box-shadow: 0 0 6px -2px var(--ns-color-red-normal), 0 0 0px 4px rgba(255, 255, 255, 0.25);
}

header nav a {
	width: inherit;
	text-align: center;
	display: inline;
	text-decoration: none;
	color: currentColor;
}

.content {
	max-width: var(--ns-site-margin-desktop);
	margin-left: auto;
	margin-right: auto;
}

.force-flex {
	display: flex !important;
}

header nav a svg {
	margin-top: 4px;
}

popup-bg {
	z-index: 999;
	visibility: hidden;
	padding: 24px 0;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	backdrop-filter: blur(0px);
	opacity: 0;
	transition: all 500ms;
	text-align: center;
	overflow: auto;
}

.popup {
	width: calc(100% - 64px) !important;
	padding: 12px;
	background: white;
	margin-bottom: 48px;
	border-radius: 12px;
	box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.5);
	transition: all 250ms;
}

.popup .flex-container {
	justify-content: center;
}

@media only screen and (min-width: 1000px) {
	.show-only-mobile {
		display: none;
	}

	.flex-container .card {
		width: inherit;
	}

	header nav {
		padding: 12px;
	}

	header > nav > .nav-common:first-of-type {
		text-align: left;
		margin-left: 8px;
		width: 16%;
	}

	header > nav > .mobile-nav-container > a:last-of-type {
		text-align: right;
		margin-left: 8px;
		margin-right: 8px;
	}

	header nav .mobile-nav-container {
		display: flex;
		width: 87%;
	}
}

@media only screen and (max-width: 999px) {
	.flex-container {
		display: block;
	}

	.flex-container > div {
		padding-left: 0 !important;
		padding-right: 0 !important;
	  width: 100% !important;
	}
	
	.button-normal, .button-primary {
    	display: block;
    }
	
	.content, .flex-container {
	    width: calc\(100% - calc(var(--ns-site-margin-mobile) * 2);
	}

	.show-only-desktop {
		display: none;
	}

	header nav .nav-common a:last-of-type {
		display: flex;
		width: 16px;
		text-align: left;
		margin: 8px;
		margin-right: 16px;
	}

	header nav .nav-common a {
		width: 100%;
		text-align: left;
		margin: 8px;
		margin-left: 12px;
	}

	header nav .nav-common {
		display: flex;
	}

	header nav .mobile-nav-container a {
		display: block;
		width: 100%;
		text-align: left;
		margin: 8px;
	}

	header nav {
		display: block;
	}
}

